@import url('https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #3c1e9e;
    font-family: "Reddit Sans", sans-serif;
}

.header {
    padding: 20px;
    text-align: center;
    margin-bottom: 40px;
}

a {
    color: #fff;
    text-decoration: none;
    font-size: 28px;
    font-weight: 600;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 1px 2px 4px 8px rgba(0, 0, 0, 0.1);
    width: 580px;
    padding: 40px 50px;
    margin: auto;
    gap: 20px;
    color: #3c1e9e;
}

.card h2 {
    font-size: 24px;
    font-weight: 600;
}

.card ul li {
    display: flex;
    align-items: center;
    padding: 15px 0;
    padding-left: 15px;
    background-color: #fff;
    border: 1px solid #3c1e9e;
    color: #3c1e9e;
    border-radius: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.card ul li:hover {
    transform: scale(1.02);
}

.next-button {
    padding: 10px 100px;
    font-size: 18px;
    color: #fff;
    background-color: #3c1e9e;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.next-button:hover {
    background-color: #7450ea;
    transform: scale(1.02);
}

.index {
    font-size: 18px;
    margin: auto;
}

.card .correct {
    background-color: #dffff2;
    border-color: #00d397;
    color: #00d397;
}

.card .wrong {
    background-color: #ffebeb;
    border-color: #ff4a4a;
    color: #ff4a4a;
}

.result {
    text-align: center;
}

.result h2 {
    font-size: 24px;
    font-weight: 600;
    color: #3c1e9e;
}

.result p {
    font-size: 18px;
    color: #3c1e9e;
}
